body {
    background-color: rgba(23, 23, 23, 1);
    width: 1280px;
  }
  .img {
    width: 216px;
height: 33px;
padding-left: 50px;
padding-top: 20px;
  }
   .btn {
    background-color: rgba(23, 23, 23, 1);
    border: 1px solid  rgba(228, 181, 100, 1);
    color: rgba(228, 181, 100, 1);
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    right: 50px; 
    text-decoration: none;
    font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
 } 
h1{
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: aliceblue;
padding-left: 50px;
margin-top: 90px;

}
.text1{
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: aliceblue;
padding-left: 50px;
margin-top: 30px;
padding-right: 50px;
}
/ 
  .container {
    display: grid;
    margin-top: 20px;
    padding: 50px;
    height: 940px;
    width: 1400px;

  }
  
  .item {
    border: 1px solid #333;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
  }
  .div1{
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(1,468px);
    grid-gap: 15px;
    margin-top: 20px;
    scroll-margin-bottom: 10px;
    padding: 50px;
  }
  .item-1 {
   grid-column: auto;
    background: rgba(99, 79, 44, 1);
    color: aliceblue;
  }
  
  .item-2 {
 
    color: aliceblue;
    background: rgba(180, 163, 133, 1);

  }
  
  .item-3 {
 
    color: aliceblue;
    background: rgba(228, 181, 100, 1);
  }
  
  .div2{
  
    display: grid;
    grid-template-columns: repeat(2, 705px);
    grid-template-rows: repeat(1,468px);
    grid-gap: 20px;
    margin-top: -30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .item-4 {
    
    width: 705px;
    height: 468px;
    color: aliceblue;
    background: rgba(99, 90, 74, 1);

  }
  
  .item-5 {
    width: 705px;
    height: 468px;
    color: aliceblue;
    background: rgba(176, 140, 77, 1);
  }
  .text12{
    font-family: 'Gilam';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
  }
  .container1{
    height: 940px;
    width: 1400px;
    margin: 50px;
   margin-right: 50px;
    display: grid;
  grid-template-areas: 
  "a b c"
  "d e f"
  "d e g "  ;
  grid-gap: 15px;
  grid-template-rows: minmax(50px, 75pxpx);
  /* grid-template-columns: 40% 40% 40%; */
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  
  }
  .item-6{
  grid-area: a;
  background: rgba(14, 14, 14, 1);
width: 467px;
height: 313px;

  }
  .item-7{
    grid-area: b;
    background: rgba(36, 36, 36, 1);
    width: 467px;
height: 439px;
  }
  .item-8{
    grid-area: c;
    background: rgba(31, 31, 31, 1);
    width: 440px;
height: 255px;

  }
  .item-9{
    grid-area: d;
    background: rgba(31, 31, 31, 1);
    width: 467px;
height: 560px;
margin-top: -125px;
  }
  .item-10{
    color: rgba(0, 0, 0, 1);
    grid-area: e;
    background: rgba(228, 181, 100, 1);
    width: 467px;
height: 405px;
color: rgba(0, 0, 0, 1);
;
  }
  .item-11{
    grid-area: f;
    background: rgba(14, 14, 14, 1);
    width: 440px;
height: 313px;
margin-top: -180px;

  }
  .item-12{
    grid-area: g;
    background: rgba(10, 9, 9, 1);
    width: 440px;
height: 277px;
  }
  .item1{
    font-family: 'Gilam';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: rgba(255, 255, 255, 1);
text-align: left;
border: 1px solid black;
padding: 5px;
  }
  .section{
    width: 1518px;
height: 1060px;
background: rgba(14, 14, 14, 1);

  }
  .button{
    background-color: rgba(23, 23, 23, 1);
    border: 1px solid  rgba(228, 181, 100, 1);
    color: rgba(228, 181, 100, 1);
    font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-decoration: none;
padding: 10px 20px;
    position: absolute;
  bottom: -1880px;
    right: 50px; 
  }
  .h3{
   padding: 125px 50px;
  }
  .grid-container{
    display: grid;
    padding-left: 25px;
    grid-template-columns: repeat(6, 487px);
    grid-template-rows: repeat(6,391px);
  grid-template-areas: 
    "1 t h"
    "r p i";
  }
  .bottom-grid1{
    grid-area: 1;
    background: rgba(99, 79, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-grid2{
    grid-area: t;
    background: rgba(232, 210, 171, 0.76);
    font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
color: white;
  }
  .bottom-grid3{
    grid-area: h;
    background: rgba(228, 181, 100, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-grid4 {
    grid-area: r;
    background: rgba(99, 90, 74, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bottom-grid5 {
  grid-area: p;
  background: rgba(176, 140, 77, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-grid6{
  grid-area: i;
  background: rgba(99, 79, 44, 1);
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.img4{
  margin: 0px;
  padding: 40px;
}
